* {
  margin: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(assets/fondblé2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1vh;
}

nav {
  width: 95vw;
  margin-top: 30vh;
}

nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav ul li a {
  color: aliceblue;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

nav ul li a:hover {
  color: rgb(101, 166, 85);
}

.navbar-mobile {
  display: none;
}

i {
  position: fixed;
  z-index: 10;
  top: 15px;
  right: 25px;
  font-size: 3rem;
  color: black;
  width: 50px;
}

.navbar-mobile .modal {
  background-color: rgb(101, 166, 85);
  height: 100vh;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  opacity: 0.9;
}

.modal {
  transition: top 0.9s;
  background-color: rgb(101, 166, 85);
  height: 100vh;
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
}

.change-modal {
  top: 0;
}

.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-mobile .navbar-mobile-list a {
  font-size: 1rem;
  font-weight: 800;
  color: black;
  padding: 1rem;
  border-bottom: solid black;
}

section {
  margin: 10vw;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.texte {
  display: block;
  padding-right: 3rem;
}

.ensemble {
  display: flex;
}

h1 {
  font-size: 40px;
  padding-bottom: 25px;
}

span {
  font-size: 20px;
}

.image2 {
  width: 60vh;
  margin: auto;
 
}
.image2:hover {
  box-shadow: 10px 5px 5px black;
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }

  .ensemble {
    flex-direction: column;
  }

  .image2 {
    padding: 15px;
  }
}
